* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: #ffffff;
  color: #111;
}

button {
  font-family: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}
